<h1>Enter the following information below below</h1>
<form action="/inputt">
  <label for="input">Please enter a string</label>
  <input id="input" type="text" name="user_input">
  <label for="input2">Please enter a sentence(please include the word above)</label>
  <input id="input2" type="text" name="user_input2">
  <button type="submit">Submit</button>
</form>
